.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 500px;
  margin: auto;
}

.App-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title h1 {
  margin: 0;
  margin-right: 20px;
  font-size: 3em;
}

.App-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.playercard {

	width: 75px; 
	height: 100px; 
	background-image: "./images/1.jpg"; 
	opacity: 1;
	float: left;
}

.playertablename {
	height: 20px;
	text-align: center;
	font-size: xx-small ;
}

.playertableA {
	position:absolute;
	top: 60%;
	left: 43%;
	height: 100px; 
	width: 150px;
	background-color: darkcyan;
	/* background-position:0vw ; */
}

.playertableB {
	position:absolute;
	top: 37%;
	left: 61%;
	height: 100px; 
	width: 150px;
	background-color: rgb(216, 97, 0);
	/* background-position:0vw ; */
}

.playertableC {
	position:absolute;
	top: 14%;
	left: 43%;
	height: 100px; 
	width: 150px;
	background-color: rgb(65, 34, 204);
	/* background-position:0vw ; */
}

.playertableD {
	position:absolute;
	top: 37%;
	left: 25%;
	height: 100px; 
	width: 150px;
	background-color: rgb(139, 214, 42);
	/* background-position:0vw ; */
}

.tablecenter {
	position: absolute;
	top: 35%;
	left: 41.5%;
	height: 120px; 
	width: 180px;
	background-color: rgb(211, 18, 18);
}

.discardpile {
	height: 120px; 
	width: 90px;
	float: left;
}

.deck {
	height: 120px; 
	width: 90px;
	float: left;
}

.lastplayed {
	text-align: center;
}

.cardremaining {
	text-align: center;
}