.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 500px;
  margin: auto;
}

.App-main {
	display: flex;

}

.App-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title h1 {
  margin: 0;
  margin-right: 20px;
  font-size: 3em;
}

.App-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.playercard {

	width: 75px; 
	height: 100px; 
	background-image: url("images/2.jpg");
	background-size: contain; 
	opacity: 1;
	float: left;
}

.playertablename {
	height: 20px;
	text-align: center;
	font-size: xx-small ;
}

.playertableA {
	position:absolute;
	top: 60%;
	left: 43%;
	height: 120px; 
	width: 150px;
	/* background-color: darkcyan; */
	/* background-position:0vw ; */
}

.playertableB {
	position:absolute;
	top: 37%;
	left: 59%;
	height: 120px; 
	width: 150px;
	background-color: rgb(216, 97, 0);
	/* background-position:0vw ; */
}

.playertableC {
	position:absolute;
	top: 14%;
	left: 43%;
	height: 120px; 
	width: 150px;
	background-color: rgb(65, 34, 204);
	/* background-position:0vw ; */
}

.playertableD {
	position:absolute;
	top: 37%;
	left: 27%;
	height: 120px; 
	width: 150px;
	background-color: rgb(139, 214, 42);
	/* background-position:0vw ; */
}

.tablecenter {
	position: absolute;
	top: 37%;
	left: 43%;
	height: 120px; 
	width: 150px;
	background-color: rgb(211, 18, 18);
}

.discardpile {
	float: left;
}

.cardlastplayed {
	background-image: url("images/2.jpg");
	background-size: contain; 
	height: 100px; 
	width: 75px;

}

.deck {
	float: left;
}

.deckcard {
	height: 100px; 
	width: 75px;
	background-image: url("images/2.jpg");
	background-size: contain; 

}

.lastplayed {
	text-align: center;
	font-size: xx-small;
	height: 20px;
}

.cardremaining {
	height: 20px;
	text-align: center;
	font-size: xx-small;
}